*{
    margin: 0px;
    padding: 0px;
    font-family: 'Josefin Sans', sans-serif;
}

.main_box{
    background-image: url("Nature!.jpg");
    height: 100vh;
    background-size: cover;
}

 .sidebar_menu{
    position: fixed;
    left: -320px;
    top: 0px;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow:10px 10px 20px black;
    line-height: 75px;
    width: 300px;
    height: 1000px;
    transition: all 1s ease-in-out;
    display: inline-block;
} 

.btn_one i{
    color: white;
    font-weight: 600;
    position: absolute;
    top: 20px;
    left: 10px;
    font-size: 40px;
    cursor: pointer;
}

.btn_two i{
    position: absolute;
    right: 10px;
    top: 5px;
    color: black;
    cursor: pointer;
}

div .logo a{
    color: green;
    text-decoration: none;
    font-size: 50px;
    font-weight:900;
    text-align: center;
    position: absolute;
    left: 60px;
    top: 5px;
    font-style: italic;
    height: 60px;
    display: inline-block;
}

.sidebar_menu .menu{
    position: absolute;
    top: 80px;
    bottom: 50px;
    transition: left 1s ease-in-out;
}

h3{
    text-align: start;
    margin-left:center;
}
.sidebar_menu .menu span{
    color: black;
    margin-top: 10px;
    margin-left:15px;
    padding-left:15px;
    font-size:30px;
}

.sidebar_menu .menu a{
    text-decoration: none;
    color: black;
    font-size:26px;
    padding: 5px;
    margin: 5px;
    transition:all 0.2s linear;
}

#check{
    display: none;
}

.sidebar_menu .social_media {
    position: absolute;
    left: 50px;
    bottom: 250px;
    opacity: 0.5;
    margin-top: 10px;
    margin-left:15px;
    padding-left:15px;
    font-size:20px;
    transition:left 2s ease-in-out;
}

.sidebar_menu .social_media a i{
    color: black;
    font-weight: bolder;
    transition:all 0.2s linear;
}

.sidebar_menu  .btn_one i:hover{
    font-size: 50px;
    opacity: 1;
}

.sidebar_menu .social_media a i:hover{
    opacity: 1;
    font-size: 30px;
    color: white;
    box-shadow: 5px 5px 15px white;
}

.sidebar_menu .menu a:hover{
    font-size: 30px;
    font-weight: 550;
    color: black;
    box-shadow: 5px 5px 15px white;
}

#check:checked ~.btn_one i{
    opacity: 0;
}

#check:checked ~.sidebar_menu{
    left:0;
}
.btn_two i:hover{
    font-size: 15px;
}


.main_box h1{
    font-family: 'Belanosima', sans-serif;
    position:absolute;
    left: 500px;
    top: 20px;
    font-size: 50px;
    transition: all 1s linear;
}

.main_box h3{
    margin: 10px;
    margin-left: 150px;
}

.main_box p{
    margin: 5px;
    text-align: center;

}
.main_box .MainCont1 {
    height:280px;
    width: 350px;
    border: 3px solid black;
    border-radius: 5%;
    display: inline-block;
    margin: 100px 500px 10px 600px;
    font-size: large;
    background-color: whitesmoke;
    opacity: 0.8;
    transition: all 1s linear;
    box-shadow: 5px 5px 5px black;
}
.main_box .MainCont1 h3{
    margin-left: 120px;
}

.main_box .MainCont2{
    height:300px;
    width: 350px;
    border: 3px solid black;
    border-radius: 5%;
    display: inline-block;
    margin: 5px 0px 10px 400px;
    font-size: large;
    background-color: whitesmoke;
    opacity: 0.8;
    transition: all 1s linear;
    box-shadow: 5px 5px 5px black;
}

.main_box .MainCont3{
    height:310px;
    width: 350px;
    border: 3px solid black;
    border-radius: 5%;
    display: inline-block;
    margin: 0px 0px 10px 70px;
    font-size: large;
    background-color: whitesmoke;
    opacity: 0.8;
    transition: all 1s linear;
    box-shadow: 5px 5px 5px black;
}
